<div class="sidebar-container">
  <div class="sidebar-logo">
    Banque du peuple
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <a href="{{ path('home') }}">
        <i class="fa fa-home" aria-hidden="true"></i> Home
      </a>
    </li>
    </li>
    <li class="header">Clients Physiques</li>
    <li>
      <a href="{{ path('physique_new') }}">
        <i class="fa fa-users" aria-hidden="true"></i> Ajouter un client
      </a>
    </li>
    <li>
      <a href="{{ path('physique_show') }}">
        <i class="fa fa-users" aria-hidden="true"></i> Liste des clients
      </a>
    </li>
    <li class="header">Clients Moraux</li>
    <li>
      <a href="{{ path('moral_new') }}">
        <i class="fa fa-users" aria-hidden="true"></i> Ajouter un client
      </a>
    </li>
    <li>
      <a href="{{ path('moral_show') }}">
        <i class="fa fa-users" aria-hidden="true"></i> Liste des clients
      </a>
    </li>
    <li class="header">Comptes</li>
    <li>
      <a href="{{ path('compte_new') }}">
        <i class="fa fa-users" aria-hidden="true"></i> Créer un compte
      </a>
    </li>
    <li>
      <a href="{{ path('compte_show') }}">
        <i class="fa fa-users" aria-hidden="true"></i> Liste des comptes
      </a>
    </li>
  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">


  </div>
</div>
